.contact-container {
  display: flex;
  color: white;
}

.contact-info {
margin-top: 200px;
  width: 700px;
  padding-right: 180px;
}

.contact-info-text {
  letter-spacing: -3px;
  line-height: 70%;
  font-weight: 500;
  font-size: 60px;
}

.contact-info-subtext {
  list-style-type: none;
  letter-spacing: -2px;
  line-height: 80%;
  font-weight: 400;
  font-size: 32px;
}

.contact-info-socialmedia p{
    margin-top: 140px;
    background-color: #ff3a5e;
    
    list-style-type: none;
    letter-spacing: -2px;
    line-height: 80%;
    font-weight: 400;
    font-size: 40px;
}

.contact-info-socialmedia li{
    list-style-type: none;
    letter-spacing: -2px;
    line-height: 80%;
    font-weight: 400;
    font-size: 32px;
}

.contact-form {
  background-color: red;
  width: 100%;
  height: 90vh;
}
