.portfolio-container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  letter-spacing: -1.5px;
}

.projects-container {
  background-color: #151515;
  margin-top: 45px;
  border-radius: 5px;
  width: 365px;
  height: 380px;
}

.projects-container-big {
  background-color: #151515;
  margin-right: 20px;
  margin-top: 45px;
  border-radius: 5px;
  width: 755px;
  height: 380px;
}

.projects-image {
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.5);
  width: 100%;
  height: 70%;
}

.projects-text {
  padding-left: 34px;
  color: white;
  font-size: 24px;
  font-weight: 400;
  margin-top: 32px;
  width: 100%;
}

.projects-subtext {
  margin-top: -6px;
  padding-left: 34px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 24px;
  font-weight: 200;
}
